name: CI-KA
on:
  push:
    branches:
      - main
      - release-*
    tags: '*'
  pull_request:
defaults:
  run:
    shell: bash
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  CI:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version: ['1.10', '1.11']
        os: [ubuntu-24.04, ubuntu-24.04-arm, macOS-15, macOS-15-intel, windows-2022]
        arch: [x64, arm64]
        pocl: [jll, local]
        exclude:
          - os: ubuntu-24.04
            arch: arm64
          - os: windows-2022
            arch: arm64
          - os: ubuntu-24.04-arm
            arch: x64
          # macOS 13 is Intel-only, while macOS 14+ only support Apple Silicon
          - os: macOS-15
            arch: x64
          - os: macOS-15-intel
            arch: arm64
          - os: macOS-15-intel
            pocl: local
          - os: macOS-15
            pocl: local
          - os: windows-2022
            pocl: local
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/install-juliaup@v2
        with:
          channel: ${{ matrix.version }}
      - uses: julia-actions/cache@v2
      - name: Checkout pocl
        if: ${{ matrix.pocl == 'local' }}
        uses: actions/checkout@v4
        with:
          repository: pocl/pocl
          path: pocl
      - name: Install system dependencies
        if: ${{ matrix.pocl == 'local' }}
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake ninja-build pkg-config
      - name: Install Julia dependencies
        if: ${{ matrix.pocl == 'local' }}
        run: |
            touch pocl/Project.toml
            julia --project=pocl --color=yes -e '
              using Pkg
              # unversioned
              Pkg.add([
                "SPIRV_Tools_jll",
                "OpenCL_jll",
                "OpenCL_Headers_jll",
                "Hwloc_jll",
                "CMake_jll",
              ])
              # versioned
              Pkg.add(name="LLVM_full_jll", version="20")
              Pkg.add(name="SPIRV_LLVM_Translator_jll", version="20")'
      - name: Build PoCL
        if: ${{ matrix.pocl == 'local' }}
        run: |
            julia --project=pocl --color=yes -e '
              using LLVM_full_jll,
                    SPIRV_Tools_jll, SPIRV_LLVM_Translator_jll,
                    OpenCL_jll, OpenCL_Headers_jll, CMake_jll
              sourcedir = joinpath(@__DIR__, "pocl")
              builddir = joinpath(@__DIR__, "build")
              destdir = joinpath(@__DIR__, "target")
              prefix = []
              for jll in [SPIRV_Tools_jll, SPIRV_LLVM_Translator_jll,
                          OpenCL_jll, OpenCL_Headers_jll]
                  push!(prefix, jll.artifact_dir)
              end
              withenv("LD_LIBRARY_PATH" => joinpath(Sys.BINDIR, Base.PRIVATE_LIBDIR)) do
                  mkpath(builddir)
                  run(```cmake -B $builddir -S $sourcedir
                         -GNinja
                         -DCMAKE_CXX_FLAGS="-fdiagnostics-color=always"
                         -DCMAKE_C_FLAGS="-fdiagnostics-color=always"
                         -DCMAKE_BUILD_TYPE=Debug
                         -DENABLE_TESTS:Bool=OFF
                         -DSTATIC_LLVM:Bool=On
                         -DPOCL_DEBUG_MESSAGES:Bool=ON
                         -DCMAKE_INSTALL_PREFIX=$destdir
                         -DWITH_LLVM_CONFIG=$(LLVM_full_jll.artifact_dir)/tools/llvm-config
                         -DCMAKE_PREFIX_PATH="$(join(prefix, ";"))"
                         -DKERNELLIB_HOST_CPU_VARIANTS=distro```)
                  run(```$(cmake()) --build $builddir --parallel $(Sys.CPU_THREADS) --target install```)
              end'
            echo '[pocl_jll]' > test/LocalPreferences.toml
            echo 'libpocl_path="${{ github.workspace }}/target/lib/libpocl.so"' >> test/LocalPreferences.toml
      - name: "Co-develop Enzyme and KA"
        run: |
          julia -e '
            using Pkg
            withenv("JULIA_PKG_PRECOMPILE_AUTO" => 0) do
              Pkg.activate("test")
              Pkg.add(["Enzyme", "EnzymeCore"])

              # to check compatibility, also add Enzyme to the main environment
              # (or Pkg.test, which merges both environments, could fail)
              Pkg.activate(".")
              # Try to co-develop Enzyme and KA
              try
                Pkg.develop([PackageSpec("Enzyme"), PackageSpec("EnzymeCore")])
              catch err
              end
            end
          '
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        if: runner.os != 'Windows'
        with:
          annotate: true
      - name: Setup BusyBox
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          Invoke-WebRequest https://frippery.org/files/busybox/busybox64.exe -OutFile C:\Windows\drop.exe
      - name: Test KernelAbstractions.jl (de-escalated)
        if: runner.os == 'Windows'
        shell: drop -c "julia '{0}'"
        run: |
          using Pkg
          Pkg.activate(".")
          Pkg.test()
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v4
        with:
          file: lcov.info
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - run: |
          julia --project=docs -e 'import Pkg; Pkg.develop(path=".")'
          julia --project=docs docs/make.jl
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
  doctests:
    name: Doctests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - run: |
          julia --project=docs -e 'import Pkg; Pkg.develop(path=".")'
          julia --project=docs -e '
            using Documenter: doctest
            using KernelAbstractions
            doctest(KernelAbstractions; manual = true)'
